# python practice

## 1. "print" function_Hello world!

In [1]:
print("Hello world!")
print("Hello python!")

Hello world!
Hello python!

## 2. variable & datatype

In [2]:
"""
print("There once was a man named George, ")
print("he was 70 years old.")
print("He really liked the name George, ")
print("but didn`t like being 70.")
"""

charactor_name = "George"
charactor_age = "70"
print("There once was a man named " + charactor_name + ", ")
print("he was " + charactor_age + " years old.")
print("He really liked the name "+ charactor_name + ", ")
print("but didn`t like being " + charactor_age + ".")

charactor_name = "Tom"
charactor_age = "100"
print("There once was a man named " + charactor_name + ", ")
print("he was " + charactor_age + " years old.")
print("He really liked the name "+ charactor_name + ", ")
print("but didn`t like being " + charactor_age + ".")

There once was a man named George,
he was 70 years old.
He really liked the name George,
but didn`t like being 70.
There once was a man named Tom,
he was 100 years old.
He really liked the name Tom,
but didn`t like being 100.

## 3. working with strings

In [3]:
print("Korea Academy")
print("Korea\nAcademy")
print("Korea\"Academy")
print("Korea\Academy")

print()

pharse = "Seoul Academy"
print(pharse)
print(pharse + " is yeonsei")
print(pharse.lower())
print(pharse.upper())
print(pharse.isupper())
print(pharse.upper().isupper())

print()

print(len(pharse))
print(pharse[0])
print(pharse[12])
print(pharse.index("S"))
print(pharse.index("e")) # returns first index for duplicated letters
print(pharse.index("cade"))
print(pharse.replace("Seoul", "Yeonsei"))

Korea Academy
Korea
Academy
Korea"Academy
Korea\Academy

Seoul Academy
Seoul Academy is yeonsei
seoul academy
SEOUL ACADEMY
False
True

13
S
y
0
1
7
Yeonsei Academy

## 4. working with Numbers

In [4]:
print(2)
print(3.14)
print(-3.14)
print(3+5)
print(3+3.14)
print((3+4)*5) # change order
print(10%3) # moduler

my_number = 5
print(my_number)
print(str(my_number) + " is my favorite number")

my_number = -5
print(abs(my_number))
print(pow(my_number, 3))
print(pow(4, 6))
print(max(4,6))
print(min(4,6))
print(round(3.2))
print(round(3.7))

2
3.14
-3.14
8
6.140000000000001
35
1
5
5 is my favorite number
5
-125
4096
6
4
3
4

In [5]:
from math import *
print(floor(3.7))
print(ceil(3.001))
print(sqrt(36))

# "math" is module

3
4
6.0

## 5. Getting inputs from user

In [9]:
User_name = input("Enter your name: ")  
User_age = input("Enter your age: ")  

print("I will kill you "+User_name+ " when you are " + User_age + ".")

Enter your name: Tom
Enter your age: 45
I will kill you Tom when you are 45.

## 6. Buliding a Basic Caculator

In [15]:
num1 = input("Enter a number: ")
num2 = input("Enter another number: ")
result1 = num1 + num2
print(result1)
# result2 = int(num1) + int(num2)
result2 = float(num1) + float(num2)
print("Add: " + str(result2))

Enter a number: 321.23
Enter another number: 123.4
321.23123.4
Add: 444.63

## 7. Mad Libs Games

In [16]:
"""
print("Roses are Red")
print("Violets are Blue")
print("I love you")

print("Roses are {color}")
print("{plural noun} are Blue")
print("I love {celebrity}")
"""

user_color = input("Enter a color: ")
user_plural_noun = input("Enter a plural_noun: ")
user_celebrity = input("Enter a celebrityr: ")

print()
print("Roses are " + user_color)
print(user_plural_noun + " are Blue")
print("I love " + user_celebrity)

Enter a color: Red
Enter a plural_noun: people
Enter a celebrityr: SongDaeSun
Roses are Red
people are Blue
I love SongDaeSun

## 8. Lists

In [25]:
friends = ["Kevin", "DaeSun", "Taehoon", "Oscar", "Toby"]
extra = ["Kevin", 3, True] # This is Possible!!!!



print(friends)
print(friends[0])
print(friends[-1])
print(friends[-2])
print(friends[1:])
print(friends[1:3]) # access index 1, 2

friends[1] = "Mike"
print(friends[1])

['Kevin', 'DaeSun', 'Taehoon', 'Oscar', 'Toby']
Kevin
Toby
Oscar
['DaeSun', 'Taehoon', 'Oscar', 'Toby']
['DaeSun', 'Taehoon']
Mike

## 9. List Functions

In [41]:
lucky_numbers = [4, 8, 15, 16, 23, 42]
friends = ["Kevin", "DaeSun", "Taehoon", "Oscar", "Toby"]
print(friends)

friends.extend(lucky_numbers)
print(friends)

friends = friends[0:5]
friends.append("Creed")
print(friends)

friends.insert(1, "Kelly")
print(friends)

friends.remove("Oscar")
print(friends)

friends.pop()
print(friends)

print()
print(friends.index("Kelly"))

friends.insert(2, "DaeSun")
print(friends.count("DaeSun"))

friends.sort()
print(friends)

friends.reverse()
print(friends)

friends2 = friends.copy()
print(friends2)

friends.clear()
print(friends)

['Kevin', 'DaeSun', 'Taehoon', 'Oscar', 'Toby']
['Kevin', 'DaeSun', 'Taehoon', 'Oscar', 'Toby', 4, 8, 15, 16, 23, 42]
['Kevin', 'DaeSun', 'Taehoon', 'Oscar', 'Toby', 'Creed']
['Kevin', 'Kelly', 'DaeSun', 'Taehoon', 'Oscar', 'Toby', 'Creed']
['Kevin', 'Kelly', 'DaeSun', 'Taehoon', 'Toby', 'Creed']
['Kevin', 'Kelly', 'DaeSun', 'Taehoon', 'Toby']

1
2
['DaeSun', 'DaeSun', 'Kelly', 'Kevin', 'Taehoon', 'Toby']
['Toby', 'Taehoon', 'Kevin', 'Kelly', 'DaeSun', 'DaeSun']
['Toby', 'Taehoon', 'Kevin', 'Kelly', 'DaeSun', 'DaeSun']
[]

## 10.Tuples

In [46]:
coordinates = (4, 5) # It can not be changed!
print(coordinates) # We can access but not change
print(coordinates[0])
#coordinates[0]=9  -> ERROR!!!!abs

(4, 5)
4

In [48]:
coordinates = [(4, 5), (6, 7), (80, 34)]
coordinates[0] = (8, 9)
print(coordinates)

[(8, 9), (6, 7), (80, 34)]

## 11. Functions

In [55]:
def sayhi() :#not say_hi 
    print("Hello User")
    
def sayName(name, age):
    print("Hello "+name)
    print("you are "+age)
    
print("Top")
sayhi() #execute the function
sayName("DaeSun","21")
print("Bottom")

Top
Hello User
Hello DaeSun
you are 21
Bottom

## 12. Return Statement

In [58]:
def cube(num):
    return num*num*num #return statement break function

result = cube(6)
print(result)

216

## 13. If Statement

In [65]:
is_male = True
is_tall = True

if is_male or is_tall:
    print("you are male or is_tall or both")
else:
    print("you are neither male nor tall")
    
is_tall = False
    
if is_male and is_tall:
    print("you are a tall male")
elif(is_male and not(is_tall)):
    print("you are a short male")
else:
    print("you are either not male or not tall or both")

you are male or is_tall or both
you are a short male

## 14. If Statement & Comparisons

In [69]:
def maxNum(num1, num2, num3):
    if num1 >= num2 and num1 >= num3:
        return num1
    elif num2 >= num1 and num2 >= num3:
        return num2
    else:
        return num3
    
print(maxNum(4, 5, 6))
print(maxNum(4, 40, 6))
print(maxNum(300, 40, 6))

6
40
300

## 15. Buliding  a Better Calculator

In [73]:
num1 = float(input("Enter first number: "))
operator = input("Enter a operator: ")
num2 = float(input("Enter second number: "))

if operator == "+":
    print(num1+num2)
elif operator == "-":
    print(num1-num2)
elif operator == "*":
    print(num1*num2)
elif operator == "/":
    print(num1/num2)
elif operator == "%":
    print(num1%num2)
else:
    print("Invalid Operator")

Enter first number: 34
Enter a operator: ;
Enter second number: 23
Invalid Operator

## 16. Dictionaries

In [78]:
monthConversions = { # Key: value,
    "Jan": "January",
    "Feb": "February",
    "Mar": "March",
    10: "DaeSun",
}

print(monthConversions["Feb"])
print(monthConversions.get("Mar"))
print(monthConversions.get("Luv")) # no key in monthConversions
print(monthConversions.get("Luv", "Not a valid key"))

February
March
None
Not a valid key
None

## 17. While Loop

In [3]:
i = 1
# while condition
while i <= 10:
    print(i)
    i += 1
print("Done with loop")

1
2
3
4
5
6
7
8
9
10
Done with loop

## 18. Buliding a Guessing Game

In [6]:
secret_word = "Korea"
guess = ""
guessCount = 0
guessLimit = 3
outOfGeusses = False

while guess != secret_word and not(outOfGeusses):
    if guessCount<guessLimit:
        guess = input("Enter Guess: ")
        guessCount +=1
    else:
        outOfGeusses = True
    
if not(outOfGeusses):
    print("You Win!")
else:
    print("You Lose!")

Enter Guess: korea
Enter Guess: Korea
You Win!

## 19. For Loop

In [8]:
for letter in "Korea Academy":
    print(letter)

K
o
r
e
a

A
c
a
d
e
m
y
Jim
Karen
Kevin

In [9]:
friends = ["Jim", "Karen", "Kevin"]
for name in friends:
    print(name)

Jim
Karen
Kevin
0
1
2
3
4
5
6
7
8
9

In [11]:
for index in range(10): #0~9
    print(index)

0
1
2
3
4
5
6
7
8
9

In [13]:
for index in range(3, 10): #3~9
    print(index)

3
4
5
6
7
8
9

In [15]:
friends = ["Jim", "Karen", "Kevin"] # return numbers
for index in range(len(friends)):
    print(friends[index])

Jim
Karen
Kevin

In [17]:
for index in range(5):
    if index == 0:
        print("First Iteration")
    else:
        print("Not first")

First Iteration
Not first
Not first
Not first
Not first

## 20. Exponent Function

In [19]:
print(2**3) #2^3

8

In [21]:
def raise_to_power (base_num, pow_num):
    result = 1
    for index in range(pow_num):
        result *= base_num
    return result

print(raise_to_power(4, 5))

1024

## 21. 2D Lists & Nested Loops

In [26]:
number_grid = [
    [1,2,3],
    [4,5,6],
    [7,8,9],
    [0]
]

print(number_grid[0][0])
print(number_grid[2][2])

for row in number_grid:
    print(row)

for row in number_grid:
    for col in row:
        print(col)

1
9
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
[0]
1
2
3
4
5
6
7
8
9
0

## 22. Bulid a Translator

In [31]:
"""
DaeSun Language

"vowels" -> g

ex)
dog -> dgg
cat -> cgt
"""

def translate (phrase):
    translation = ""
    for letter in phrase:
        if letter.lower() in "aeiou": # same power as if letter in "AEIOUaeiou":
            if letter.islower():
                translation += 'g'
            else:
                translation += 'G'
        else:
            translation += letter
    return translation

print(translate("Apple"))

Gpplg

## 23. Coments

In [34]:
#
'''
'''

'\n'

## 24. Try/Except

In [42]:
try:
    value = 10/0
    number  = int (input("Enter number: "))
    print(number)
except ZeroDivisionError as err:
    print("you can not divide by zero")
    print(err)
except ValueError:
     print("Invalid input")

you can not divide by zero
division by zero